@import "tailwindcss";

* {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}
.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}
.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background: white;
  height: 12px;
  width: 24px;
  box-shadow: 0px 0px 2px 0px #d3d3d3;
  margin: 0 0.2rem;
  cursor: pointer;
  border-radius: 40px;
}
.indicator-inactive {
  background: transparent;
  border: 2px solid white;
}
